.box{
    z-index: 102;
    position: absolute;
    top:50px;
    display: flex;
    flex-direction: column;
    border-radius: 11px;    
    background-color: var(--background-color);   
    width: 92%;
    padding: 0 16px 10px 16px;
    margin-top: 18px;
    text-align: left;
    border: 1px solid #A68DAE47;
    box-shadow: 2px 4px 9px 0px #A68DAE47;
}
.item{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-text-footer);
    padding: 10px 0;
    border-bottom: 1px solid var(--color-text-footer)
}

@media (min-width: 768px) and (max-width: 1279px) {
    .box {
        width: 85%;
        top:50px;
    }
}
@media (min-width: 1280px) {
    .box {
        width: 100%;
        top:50px
    }
}